html, body, a {	cursor:  auto;

    cursor:  url(images/cursor.png) 0 0, pointer;}



body

{

	background-color: #000000;

	font-family: 'Ropa Sans', sans-serif;

	color: #ffffff;

	font-size: 18px;

	line-height: 22px;

	background-image: url("images/background.jpg");

	background-repeat: no-repeat;

	background-position: top center;

	font-weight: normal;

}



a { color: #f7941d; }



#container

{

	position: absolute;

	width: 790px;

	height: auto;

	left: 50%;

	margin-left: -460px;

}



#header

{

	position: relative;

	width: 100%;

	height: 430px;

}



#header #byline

{

	position: absolute;

	width: 100%;

	height: auto;

	font-size: 55px;

	line-height: 55px;

	text-align: center;

	text-transform: uppercase;

}



#header #byline a {font-size: 29px;}

.headerhome { position: absolute; width: 100%; height: 217px; top: 90px;}



.top { top: 40px; font-size: 35px !important;}



.bottom { bottom: 20px; }



#headerMobile

{

	width: 100%;

	height: auto;

	font-size: 20px;

	line-height: 25px;

	text-align: center;

	display: none;

	text-transform: uppercase;

	margin-bottom: 20px;

}



#headerMobile h1

{

	padding: 10px;

	font-size: 45px;

	color: #ffffff;

	text-transform: uppercase;

	margin: 0px;

	font-weight: normal;

	text-align: center;

}



#headerMobile img { width: 100%; height: auto }



#contentBox

{

	float: left;

	width: 48%;

	min-height: 650px;

}



#contentBox p { padding: 5px }



#contentBox h1

{

	padding: 20px;

	font-size: 35px;

	background-color: #f7941d;

	color: #000000;

	text-transform: uppercase;

	margin: 0px;

	font-weight: normal;

	text-align: center;

}



.ml { margin-left: 30px; }



@media screen and (max-width: 460px) {

	#container { position: absolute; width: 100%; height: auto; top: 0px; left: 0px; margin: 0px; }

	#header { display: none !important}

	#headerMobile { display: block }

	#contentBox { width: 100%; min-height: 0px; height: auto; margin-bottom: 10px; }

	#contentBox h1 { font-size: 30px; }

	.ml { margin-left: 0px; }

	body { background-image: url("");

	

}